.actor {
    position: absolute;
}
.player {
    background: green;
    opacity: 0.8;
}
.lost .player {
    background: rgb(64, 82, 160);
}
.won .player {
    box-shadow: -4px -7px 8px green, 4px -7px 8px green;
}
.coin {
    background-image: url("./src/coin.jpg");
}
