.background { 
    background-image: url("./src/back.png");
    table-layout: fixed;
    border-spacing: 0;
    position: relative;
}
.background td { 
    padding: 0; 
}
.lava { 
    background-image: url("./src/lava.png");
    opacity: 0.7;
}
.wall { 
    background-image: url("./src/wall.png");
}